{% extends "base.html" %}

{% set active_page = "create" %}

{% block content %}
  <br>
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4 text-left">
      <div class="panel panel-default">
	<div class="panel-heading">
	  <center>
	    <h4>Create an Account</h4>
	  </center>
	</div>
	<div class="panel-body">
	  <form role="form" method="POST" action="">
	    {{ create_form.hidden_tag() }}
	    {{ macros.render_field(create_form.username, 'Username') }}
	    {{ macros.render_field(create_form.password, 'Password') }}
	    {{ macros.render_field(create_form.password2, 'Repeat Password') }}
	    {{ macros.render_field(create_form.submit, 'Create') }}
	  </form>
	</div>
    </div>
  </div>
  <div class="col-sm-4"></div>
{% endblock %}
